<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>主页</title>
	<link rel="icon" href="./img/other/kidio.ico">
	<link rel="stylesheet" href="../assets/css/base.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
	<script src="../assets/js/index.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="/js/test.js" type="text/javascript" charset="utf-8"></script>-->
</head>

<body>
	<div class="index_box">
		<!--主页头部样式-->
		<div class="index_header">
			<div class="index_header">
				<div class="back">
					<a href="login">
						<span>&lt</span> 返回
					</a>
				</div>
				<div class="title">
					实验室视频界面
				</div>
			</div>
		</div>
		<!--视频列表部分-->
		<div class="video_list" id="1213">
			<div class="video_origin">
				<div class="videoTop">
					<img src='../img/video/pic01.jpg' />
					<a href="VIDEO?" class="play" target="_blank" name="" onclick="myClick(id)">
						<img src="../img/video/play.png" />
					</a>
				</div>
				<div class="videoBottom">
					<p class="vidioTitle clearfix">
						<span>MPC</span>
					</p>
					<!-- <p class="videoHot">
						9999次播放
					</p> -->
				</div>
			</div>
		</div>
		<!--底部-->
		<div class="footer">
			<ul class="clearfix">
				<li class="wedding">
					<a href="OTHER" target="_blank" class="no">
						<span></span>
						<p>其它资源</p>
					</a>
				</li>
				<li class="confession">
					<a href="TEACH" target="_blank" class="no">
						<span></span>
						<p>教程界面</p>
					</a>
				</li>
				<li class="birthday">
					<a href="PDF" target="_blank" class="no">
						<span></span>
						<p>本地资源</p>
					</a>
				</li>
				<li class="friends">
					<a href="MD?README_USER" class="no" target="_blank">
						<span></span>
						<p>用户文档</p>
					</a>
				</li>
				<li class="enterprise">
					<a href="MD?README_ROOT" class="no" target="_blank">
						<span></span>
						<p>管理员文档</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>