<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>其它信息界面</title>
    <link rel="icon" href="./img/other/kidio.ico">
    <link rel="stylesheet" type="text/css" href="../assets/css/SeePdf.css" />
</head>

<body>
    <fieldset class="gra1">
        <h2>MPC</h2>
        <div class="firsthomecontent">

            <a href="https://geek-docs.com/python/python-top-tutorials/1000100_python_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/python.png" alt="Python 教程"
                        src="https://static.deepinout.com/homeicon/python.png">
                    <p>Python 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/tkinter/tkinter-top-articles/1188100_python_gui_programming.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/tkinter.png" alt="Tkinter 教程"
                        src="https://static.deepinout.com/homeicon/tkinter.png">
                    <p>Tkinter 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/pandas/pandas-top-articles/1000100_python_pandas_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/pandas.png" alt="Pandas 教程"
                        src="https://static.deepinout.com/homeicon/pandas.png">
                    <p>Pandas 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/numpy/numpy-top-tutorials/1000100_numpy_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/numpy.png" alt="NumPy 教程"
                        src="https://static.deepinout.com/homeicon/numpy.png">
                    <p>NumPy 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/flask/flask-top-articles/1001100_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/flask.png" alt="Flask 教程"
                        src="https://static.deepinout.com/homeicon/flask.png">
                    <p>Flask 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/django/django-top-articles/1000100_django_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/django.png" alt="Django 教程"
                        src="https://static.deepinout.com/homeicon/django.png">
                    <p>Django 教程</p>
                </div>
            </a>
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>MATH</h2>
        <div class="firsthomecontent">

            <a href="https://geek-docs.com/python/python-top-tutorials/1000100_python_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/python.png" alt="Python 教程"
                        src="https://static.deepinout.com/homeicon/python.png">
                    <p>Python 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/tkinter/tkinter-top-articles/1188100_python_gui_programming.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/tkinter.png" alt="Tkinter 教程"
                        src="https://static.deepinout.com/homeicon/tkinter.png">
                    <p>Tkinter 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/pandas/pandas-top-articles/1000100_python_pandas_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/pandas.png" alt="Pandas 教程"
                        src="https://static.deepinout.com/homeicon/pandas.png">
                    <p>Pandas 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/numpy/numpy-top-tutorials/1000100_numpy_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/numpy.png" alt="NumPy 教程"
                        src="https://static.deepinout.com/homeicon/numpy.png">
                    <p>NumPy 教程</p>
                </div>
            </a>
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>CONTROL</h2>
        <div class="firsthomecontent">

            <a href="https://geek-docs.com/python/python-top-tutorials/1000100_python_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/python.png" alt="Python 教程"
                        src="https://static.deepinout.com/homeicon/python.png">
                    <p>Python 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/tkinter/tkinter-top-articles/1188100_python_gui_programming.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/tkinter.png" alt="Tkinter 教程"
                        src="https://static.deepinout.com/homeicon/tkinter.png">
                    <p>Tkinter 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/pandas/pandas-top-articles/1000100_python_pandas_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/pandas.png" alt="Pandas 教程"
                        src="https://static.deepinout.com/homeicon/pandas.png">
                    <p>Pandas 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/numpy/numpy-top-tutorials/1000100_numpy_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/numpy.png" alt="NumPy 教程"
                        src="https://static.deepinout.com/homeicon/numpy.png">
                    <p>NumPy 教程</p>
                </div>
            </a>
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>OPTIMISATION</h2>
        <div class="firsthomecontent">

            <a href="https://geek-docs.com/python/python-top-tutorials/1000100_python_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/python.png" alt="Python 教程"
                        src="https://static.deepinout.com/homeicon/python.png">
                    <p>Python 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/tkinter/tkinter-top-articles/1188100_python_gui_programming.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/tkinter.png" alt="Tkinter 教程"
                        src="https://static.deepinout.com/homeicon/tkinter.png">
                    <p>Tkinter 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/pandas/pandas-top-articles/1000100_python_pandas_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/pandas.png" alt="Pandas 教程"
                        src="https://static.deepinout.com/homeicon/pandas.png">
                    <p>Pandas 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/numpy/numpy-top-tutorials/1000100_numpy_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/numpy.png" alt="NumPy 教程"
                        src="https://static.deepinout.com/homeicon/numpy.png">
                    <p>NumPy 教程</p>
                </div>
            </a>
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>RL</h2>
        <div class="firsthomecontent">

            <a href="https://geek-docs.com/python/python-top-tutorials/1000100_python_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/python.png" alt="Python 教程"
                        src="https://static.deepinout.com/homeicon/python.png">
                    <p>Python 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/tkinter/tkinter-top-articles/1188100_python_gui_programming.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/tkinter.png" alt="Tkinter 教程"
                        src="https://static.deepinout.com/homeicon/tkinter.png">
                    <p>Tkinter 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/pandas/pandas-top-articles/1000100_python_pandas_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/pandas.png" alt="Pandas 教程"
                        src="https://static.deepinout.com/homeicon/pandas.png">
                    <p>Pandas 教程</p>
                </div>
            </a>

            <a href="https://geek-docs.com/numpy/numpy-top-tutorials/1000100_numpy_index.html">
                <div class="homecontent">
                    <img data-src="https://static.deepinout.com/homeicon/numpy.png" alt="NumPy 教程"
                        src="https://static.deepinout.com/homeicon/numpy.png">
                    <p>NumPy 教程</p>
                </div>
            </a>
        </div>
    </fieldset>
</body>

</html>