<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>文档界面</title>
    <link rel="icon" href="./img/other/kidio.ico">
    <link rel="stylesheet" type="text/css" href="../assets/css/SeePdf.css" />
    <script src="../assets/js/SeePdf.js" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <fieldset class="gra1">
        <h2>MPC</h2>
        <div class="firsthomecontent" id="MPC">
            <a href="data/lxd_data/Books/Adaptive_MIMO.pdf/p" class='origin_a' target="_blank">
                <div class="homecontent">
                    <img src="../img/other/pdf.png" alt="Python 教程">
                    <p>PDF文件</p>
                </div>
            </a>
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>MATH</h2>
        <div class="firsthomecontent" id="MATH">
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>CONTROL</h2>
        <div class="firsthomecontent" id="CONTROL">
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>OPTIMIZATION</h2>
        <div class="firsthomecontent" id="OPTIMIZATION">
        </div>
    </fieldset>
    <fieldset class="gra1">
        <h2>RL</h2>
        <div class="firsthomecontent" id="RL">
        </div>
    </fieldset>
</body>

</html>