<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>教程界面</title>
    <link rel="icon" href="./img/other/kidio.ico">
    <link rel="stylesheet" type="text/css" href="../assets/css/SeePdf.css" />
</head>

<body>
    <fieldset class="gra1">
        <fieldset class="gra1">
            <h2>Python教程</h2>
            <div class="firsthomecontent">

                <a href="https://geek-docs.com/python/python-top-tutorials/1000100_python_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/python.png" alt="Python 教程"
                            src="https://static.deepinout.com/homeicon/python.png">
                        <p>Python 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/tkinter/tkinter-top-articles/1188100_python_gui_programming.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/tkinter.png" alt="Tkinter 教程"
                            src="https://static.deepinout.com/homeicon/tkinter.png">
                        <p>Tkinter 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/pandas/pandas-top-articles/1000100_python_pandas_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/pandas.png" alt="Pandas 教程"
                            src="https://static.deepinout.com/homeicon/pandas.png">
                        <p>Pandas 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/numpy/numpy-top-tutorials/1000100_numpy_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/numpy.png" alt="NumPy 教程"
                            src="https://static.deepinout.com/homeicon/numpy.png">
                        <p>NumPy 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/flask/flask-top-articles/1001100_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/flask.png" alt="Flask 教程"
                            src="https://static.deepinout.com/homeicon/flask.png">
                        <p>Flask 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/django/django-top-articles/1000100_django_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/django.png" alt="Django 教程"
                            src="https://static.deepinout.com/homeicon/django.png">
                        <p>Django 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/pyspark-docs/pyspark-top-tutorials/1000100_pyspark_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/pyspark.png" alt="PySpark 教程"
                            src="https://static.deepinout.com/homeicon/pyspark.png">
                        <p>PySpark 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/wxpyhon/wxpython-top-tutorials/1000100_wxpython_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/wxpython.png" alt="wxPython 教程"
                            src="https://static.deepinout.com/homeicon/wxpython.png">
                        <p>wxPython 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/sympy/sympy-top-tutorials/1000100_sympy_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/sympy.png" alt="SymPy 教程"
                            src="https://static.deepinout.com/homeicon/sympy.png">
                        <p>SymPy 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/seaborn/seaborn-top-tutorials/1000100_seaborn_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/seaborn.png" alt="Seaborn 教程"
                            src="https://static.deepinout.com/homeicon/seaborn.png">
                        <p>Seaborn 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/scipy/scipy-top-tutorials/1000100_scipy_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/scipy.png" alt="SciPy 教程"
                            src="https://static.deepinout.com/homeicon/scipy.png">
                        <p>SciPy 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/rxry-new/rxpy-top-tutorials/1000100_rxpy_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/rxpy.png" alt="RxPY 教程"
                            src="https://static.deepinout.com/homeicon/rxpy.png">
                        <p>RxPY 教程</p>
                    </div>
                </a>

            </div>
        </fieldset>

        <fieldset class="gra1">
            <h2>Java教程</h2>
            <div class="firsthomecontent">

                <a href="https://geek-docs.com/java/java-top-tutorials/1001100_java_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/java.png" alt="Java 教程"
                            src="https://static.deepinout.com/homeicon/java.png">
                        <p>Java 教程</p>
                    </div>
                </a>

            </div>
        </fieldset>

        <fieldset class="gra1">
            <h2>Web教程</h2>
            <div class="firsthomecontent">

                <a href="https://geek-docs.com/html/html-top-tutorials/1000100_html_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/html.png" alt="HTML 教程"
                            src="https://static.deepinout.com/homeicon/html.png">
                        <p>HTML 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/css/css-top-articles/1000100_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/css.png" alt="CSS 教程"
                            src="https://static.deepinout.com/homeicon/css.png">
                        <p>CSS 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/css3/css3-top-articles/1061100_css3_tutorial.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/css3.jpg" alt="CSS3 教程"
                            src="https://static.deepinout.com/homeicon/css3.jpg">
                        <p>CSS3 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/jquery/jquery-top-tutorials/1001100_jquery-index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/jquery.png" alt="jQuery 教程"
                            src="https://static.deepinout.com/homeicon/jquery.png">
                        <p>jQuery 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/ajax/ajax-top-tutorials/1000100_ajax_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/ajax.png" alt="Ajax 教程"
                            src="https://static.deepinout.com/homeicon/ajax.png">
                        <p>Ajax 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/angularjs/angularjs-top-tutorials/1001100_angularjs_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/angularjs.png" alt="AngularJS 教程"
                            src="https://static.deepinout.com/homeicon/angularjs.png">
                        <p>AngularJS 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/typescript/typescript-top-tutorials/1000100_typescript_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/typescript.png" alt="TypeScript 教程"
                            src="https://static.deepinout.com/homeicon/typescript.png">
                        <p>TypeScript 教程</p>
                    </div>
                </a>

            </div>
        </fieldset>

        <!-- geek-docs-article-nav-1 -->
        <ins class="adsbygoogle adsbygoogle-dis" style="display:block" data-ad-client="ca-pub-8722128765990495"
            data-ad-slot="6347362099" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <fieldset class="gra1">
            <h2>数据库教程</h2>
            <div class="firsthomecontent">

                <a href="https://geek-docs.com/sql/sql-top-tutorials/1000100_sql_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/sql.png" alt="SQL 教程"
                            src="https://static.deepinout.com/homeicon/sql.png">
                        <p>SQL 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/mysql/mysql-top-articles/1000100_mysql_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/mysql.png" alt="MySQL 教程"
                            src="https://static.deepinout.com/homeicon/mysql.png">
                        <p>MySQL 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/mongodb/mongodb-top-articles/1000100_mongodb_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/mongodb.png" alt="MongoDB 教程"
                            src="https://static.deepinout.com/homeicon/mongodb.png">
                        <p>MongoDB 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/postgresql/postgresql-top-tutorials/1000100_postgresql_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/postgresql.png" alt="PostgreSQL 教程"
                            src="https://static.deepinout.com/homeicon/postgresql.png">
                        <p>PostgreSQL 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/sqlite/sqlite-top-articles/1000100_sqlite_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/sqlite.png" alt="SQLite 教程"
                            src="https://static.deepinout.com/homeicon/sqlite.png">
                        <p>SQLite 教程</p>
                    </div>
                </a>

            </div>
        </fieldset>

        <fieldset class="gra1">
            <h2>图形图像教程</h2>
            <div class="firsthomecontent">

                <a href="https://geek-docs.com/vulkan/vulkan-tutorial/vulkan-tutorial-index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/vulkan.png" alt="Vulkan 教程"
                            src="https://static.deepinout.com/homeicon/vulkan.png">
                        <p>Vulkan 教程</p>
                    </div>
                </a>

            </div>
        </fieldset>

        <fieldset class="gra1">
            <h2>开发工具教程</h2>
            <div class="firsthomecontent">

                <a href="https://geek-docs.com/git/git-top-articles/1000100_git_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/git.png" alt="Git 教程"
                            src="https://static.deepinout.com/homeicon/git.png">
                        <p>Git 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/vscode/vscode-tutorials/what-is-vscode.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/vscode.png" alt="VSCode 教程"
                            src="https://static.deepinout.com/homeicon/vscode.png">
                        <p>VSCode 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/docker/docker-top-tutorials/1000100_docker_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/docker.png" alt="Docker 教程"
                            src="https://static.deepinout.com/homeicon/docker.png">
                        <p>Docker 教程</p>
                    </div>
                </a>

                <a href="https://geek-docs.com/gerrit/gerrit-top-tutorials/1000100_gerrit_index.html">
                    <div class="homecontent">
                        <img data-src="https://static.deepinout.com/homeicon/gerrit.png" alt="Gerrit 教程"
                            src="https://static.deepinout.com/homeicon/gerrit.png">
                        <p>Gerrit 教程</p>
                    </div>
                </a>

            </div>
        </fieldset>
    </fieldset>

</body>

</html>