/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start editing from here */
a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}

/* text align right */
.txt-lt {
	text-align: left;
}

/* text align left */
.txt-center {
	text-align: center;
}

/* text align center */
.float-rt {
	float: right;
}

/* float right */
.float-lt {
	float: left;
}

/* float left */
.clear {
	clear: both;
}

/* clear float */
.pos-relative {
	position: relative;
}

/* Position Relative */
.pos-absolute {
	position: absolute;
}

/* Position Absolute */
.vertical-base {
	vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
	vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
	display: block;
}

/* vertical menu */
nav.horizontal ul li {
	display: inline-block;
}

/* horizontal menu */
img {
	max-width: 100%;
}

/*end reset*/
/****-----start-body----****/
body {
	background: url(../../img/login/star.jpg);
	background-size: 100vw, 100vh;
	font-family: 'Open Sans', sans-serif;
}

.bjimg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	object-fit: cover;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 3em;
	font-weight: 400;
	color: #00f7ff;
	padding-top: 2em;
}

.login-box {
	background: url(../../img/login/login-back.png) no-repeat 0px 0px;
	width: 400px;
	height: 300px;
	padding: 3em;
	margin: 6em auto 0 auto;
}

form {
	padding-top: 2em;
}

form li {
	list-style: none;
	margin-bottom: 25px;
	width: 100%;
	background: #101996;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}

input[type="text"] {
	font-family: 'Open Sans', sans-serif;
	width: 350px;
	padding: 1em 1em 1em 3em;
	color: #fff;
	font-size: 14px;
	outline: none;
	background: url(../../img/login/icon-1.png) no-repeat 5px 7px #333eb7;
	border: none;
	font-weight: 100;
	margin-bottom: 1em;
}

input[type="password"] {
	font-family: 'Open Sans', sans-serif;
	width: 350px;
	padding: 1em 1em 1em 3em;
	color: #fff;
	font-size: 14px;
	outline: none;
	background: url(../../img/login/icon-2.png) no-repeat 5px 7px #333eb7;
	border: none;
	margin-bottom: 3em;
}

/*--checkbox--*/
.check-box {
	float: none;
}

input#slideThree {
	display: none;
}

.regist_title {
	background: rgb(6, 226, 241);
	font-size: 20px;
	margin: 0.3em 7em 0em 7em;
	padding: 0.3em 0em 0.6em 0em;
	color: #eb0804;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border: none;
}

.remember {
	float: right;
	margin: 1em 0 0 1em;
	position: relative;
	right: 80px;
	top: -40px;
}

.remember a {
	font-size: 15px;
	color: #fff;
}

.btn {
	float: right;
}


#submit {
	position: relative;
	top: 0;
	right: 50px;
}

#regist {
	position: relative;
	top: -31px;
	right: 120px;
}

#regist2 {
	position: relative;
	top: auto;
	right: 5rem;
}

#login2 {
	position: relative;
	top: -2rem;
	right: 10rem;
}

.log_err {
	background: rgb(166, 217, 255);
	padding: .6em .6em .6em 2em;
	outline: none;
	border: none;
	font-size: 18px;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	display: true;
	margin: 0em 5rem 0em 5rem;
}

.btn input[type="submit"] {
	background: url(../../img/login/tick.png) no-repeat 9px 12px rgb(166, 217, 255);
	padding: .6em .6em .6em 2em;
	outline: none;
	border: none;
	font-size: 18px;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	cursor: pointer;
}

.btn input[type="submit"]:hover {
	background: #4cd662;
	background: url(../../img/login/tick.png) no-repeat 9px 12px #4cd662;
	color: #fff;
}

.slideThree {
	width: 80px;
	height: 26px;
	background: #00bf00;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);

	top: 20px;
	right: 50px;
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #fff;
	position: relative;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}

.slideThree input[type=checkbox]:checked+label {
	left: 43px;
}

.copy-right p {
	text-align: center;
	padding-top: 3em;
	color: #fff;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.copy-right p a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: rgb(245, 65, 29);
}

.copy-right p a:hover {
	color: #999;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

/*--start-responsive-design--*/
@media (max-width:480px) {
	.login-box {
		width: 400px;
		padding: 3em 2.3em 0em 1.9em;
		background-size: 100%;
	}

	h1 {
		font-size: 2em;
	}
}

@media (max-width:320px) {
	.login-box {
		width: 247px;
		padding: 1.5em .6em .3em .6em;
		background-size: 100%;
		height: 200px;
	}

	input[type="text"] {
		width: 190px;
	}

	input[type="password"] {
		width: 190px;
		margin-bottom: 4px;
	}

	h1 {
		font-size: 1.3em;
		padding-bottom: 0em;
	}

	form {
		padding-top: 0;
	}

	.btn input[type="submit"] {
		background: url(../images/tick.png) no-repeat 6px 12px #fff;
		background-size: 18%;
		padding: .8em .8em .8em 1.8em;
		font-size: 11px;
	}

	.btn input[type="submit"]:hover {
		background: url(../images/tick.png) no-repeat 6px 12px #4cd662;
		background-size: 18%;
		padding: .8em .8em .8em 1.8em;
		font-size: 11px;
	}

	.remember {
		margin: 1.2em 0 0 0.3em;
	}

	.remember a {
		font-size: 10px;
	}

	.btn {
		margin-top: 0.9em;
	}
}

/*--End-responsive-design--*/